.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-left {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollbar-left::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-left::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-left::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollbar-left::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.side-nav {
  /* background-color: red; */
}

.side-nav-item {
  /* background-color: green; */
}

.side-nav-item.active .side-nav-link {
  background-color: #e9eff5;
  background-color: #b4b4b4;
}

.side-nav-link {
  display: flex;

  border-radius: 11px;
  /* padding: 1rem 1.8rem; */
  color: #575859;
  transition: all 0.3s ease-in-out;

  /* border-bottom: #575859 solid 1px; */
  font-weight: 600;
}
/* 
.side-nav-link.active {
    background-color: #E9EFF5;
    background-color: #b4b4b4;
} */

.side-nav-link:hover {
  background-color: #e9eff5;
  background-color: #b4b4b4;
}

.slideover {
  background-color: #f6f8fa;
}
